$bg-head=#68a1c5
$bg-title=#6699cc

$c-border=#ccc;
$c-bg=rgba(0,0,0,.01);
$c-bg-h=#3cb7c8
$c-bg-cnt=rgba(0,0,0,.05)
$c-bg-t=rgba(0,0,0,.2)
$c-bg-s=#336699

$c-fz-1=rgb(18,53,85)

Header()
  height 42px
  line-height @height
  background $bg-head
  // border 
  font-weight 500
  font-family simHei !important
  font-size 20px
  letter-spacing 5px
  padding-left 30px
  overflow hidden
  color #fff
  box-shadow 0 0px 16px 0px rgba(0,0,0,1)
  >span
    font-family simHei !important

Input()
  margin-top 20px
  padding 20px 40px
  overflow hidden
  display flex
  // justify-content center
  align-items center
  background $c-bg-cnt
